<!-- ensure that all the materialize packages are loaded in the template that you are using this file -->
<footer class="page-footer custom-footer">
    <!-- <footer class="words"> -->
    <div class="containerc">
        
        <div class="row">
            <div class="col l6 s12 ">
                <h5 class="white-text"><b>Address</b></h5>
                <p class="grey-text text-lighten-4">Office address - Shop no-3, Ground floor,
                    Nirmal Prem building, Sankoshai Road no-5, Dimna road, Mango Jamshedpur - 831012. <br>
                    Contact No.+91-7870941637/9939193508<br>
                    Email : Connect2india247@gmail.com
                    </p>


            </div>
            <div class="col l3 s12" style="">
                <h5 class="white-text"> <b> Socials </b> </h5>
                <ul>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Linkdein</a></li>
                </ul>
            </div>
            <div class="col l3 s12 footer-contact">
                <h5 class="white-text"><b>ConnectOn</b></h5>
                <ul>
                    <li><a class="white-text" href="#!">Linkdein</a></li>
                    <li><a class="white-text" href="#!">Carrerguru</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©2022 <a class="brown-text text-lighten-3" href="http://connect2india247.in">Connect2india247</a> All right reserved.
        </div>
    </div>
</footer>

<style>
    .custom-footer{

        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
.containerc{
    width:95%;
    padding: 10px 10px;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
}
    footer{
        padding-top: 0px !important;
    }

</style>