<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<style>
    .owl-nav button {
        position: absolute;
        top: 50%;
        background-color: #000;
        color: #fff;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }

    .owl-nav button.owl-prev {
        left: 0;
    }

    .owl-nav button.owl-next {
        right: 0;
    }

    .owl-dots {
        text-align: center;
        padding-top: 15px;
    }

    .owl-dots button.owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        background: #ccc;
        margin: 0 3px;
    }

    .owl-dots button.owl-dot.active {
        background-color: #000;
    }

    .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.38) !important;
    }

    span {
        position: relative;
        top: -5px;
    }

    .owl-nav button:focus {
        outline: none;
    }
</style>

<div class="owl-slider">
    <div id="carousel" class="owl-carousel">
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            Myself Debojyoti Banerjee. I was working as a site engineer at Kolkata with minimum wages.
                            I registered with Connect 2 India & they placed me to one of the best construction company at West Bengal where I received much better salary package.
                            Thanks a lot Connect 2 India !
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Debojyoti Banerjee
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            My name is Alok Das. I was registered with many consultancies at West Bengal but was not getting opportunities back.
                            One of my teacher suggested me to go with Connect 2 India & by god's grace I got assured placement.
                            The behaviour of the staff members are very friendly & supportive at Connect 2 India.
                            Thanks a million !
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Alok Das.
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            My name is Sushil Kumar. I came to know about Connect 2 India by one of my college friend.
                            I registered with the company & got placed in the first attempt. 
                            Thank you so much Connect 2 India for helping me in making my career
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Sushil Kumar.
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            One of the best Consultancies at Jharkhand. 
                            After completing my engineering, I was very upset since finding a job was a very difficult task but Connect 2 India made my work easier.
                            They offered me placement to a reputed firm where I work as a District coordinator. I would suggest all my friends to go for Connect 2 India.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Dipankar Dutta.
                </div>
                <div class="row"></div>
            </div>
        </div>
        <!-- <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                       
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                       
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div> -->
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    jQuery("#carousel").owlCarousel({
        autoplay: true,
        rewind: true,
        /* use rewind if you don't want loop */
        margin: 20,
        /*
  animateOut: 'fadeOut',
  animateIn: 'fadeIn',
  */
        responsiveClass: true,
        autoHeight: true,
        autoplayTimeout: 7000,
        smartSpeed: 800,
        nav: true,
        responsive: {
            0: {
                items: 1
            },

            600: {
                items: 1
            },
            800: {
                items: 2
            },

            1024: {
                items: 3
            },

            1366: {
                items: 3
            }
        }
    });
</script>